@use '../abstracts/mixins.scss' as *;
@use '../themes/color.scss' as *;

.order-book-row {
  padding: 8px;
  margin: 4px 0;
  @include flex-layout();

  &:hover {
    background: $quote-hover-bg;
  }

  &--price {
    width: 100%;
  }

  &--buy {
    .order-book-row--price {
      color: $quote-buy;
    }
    
    img {
      filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }
  }

  &--sell {
    .order-book-row--price {
      color: $quote-sell;
    }
    
    img {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }
  }

  &--size {
    width: 100%;
    max-width: 150px;
    text-align: right;
    &--up {
      background: $quote-buy;
    }

    &--down {
      background: $quote-sell;
    }
  }

  &--total {
    width: 100%;
    position: relative;
    text-align: right;
  }
}