@use './themes/color.scss' as *;
@use './abstracts/mixins.scss' as *;
@use './components/OrderBookRow.scss' as *;

body {
  background-color: $bg-primary;
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}

.order-book {
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0px 8px;
  }
  color: $text-primary;

  &--header { 
    @include flex-layout();
    padding: 8px;
    color: $text-secondary;
  }

  &--last-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 1.5rem;
    font-weight: 700;
  }
}